<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08-首页-章节组件-新闻卡片组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="news-card">
        <ul>
            <li>
                <a href="#">撩课学院-极系列课程撩课学院</a>
                <span>2020年12月12日 12:12:00</span>
            </li>
            <li>
                <a href="#">撩课学院-极系列课程撩课学院</a>
                <span>2020年12月12日 12:12:00</span>
            </li>
            <li>
                <a href="#">撩课学院-极系列课程撩课学院</a>
                <span>2020年12月12日 12:12:00</span>
            </li>
        </ul>
    </div>
</body>
</html>