@import "../../css/base.css";
@import "../../config/colorConfig.less";

.footer{
    height: 185px;
    background-color: #474443;
    .content{
        background-color: darkcyan;
        height: 100%;
    }
}