@import "../../css/base.css";
@import "../../config/colorConfig.less";

body{
    background-color: rgb(245, 245, 245);
}
.navbar-mini{
    min-width: 1205px;
    height: 60px;
    background-image: url(../../assets/images/bg_nav_rep.png);
    background-repeat: repeat-x;
    .content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .left{
            flex: 3;
            display: flex;
            //background-color: cyan;
            .logo{
                width: 177px;
                height: 60px;
                margin: 0;
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    font-size: 0;
                    //background-color: cyan;
                    background-image: url(../../assets/images/logo-mini.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
            .menus{
                //background-color: pink;
                display: flex;
                height: 100%;
                width: 228px;
                //align-items: center;
                li{
                    position: relative;
                    //background-color: cyan;
                    //padding: 0 20px;
                    &.current,
                    &:hover{
                        a{
                            color: @themeColor;
                            }
                        &:after{
                            content: "";
                            display: block;
                            background-color: @themeColor;
                            width: ~"calc(100% - 40px)";
                            height: 5px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        }
                    a{
                        height: 100%;
                        padding: 0 20px;
                        display: block;
                        //background-color: red;
                        line-height: 60px;
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
        }
        .center{
            flex: 2;
            .search-bar{
                width: 300px;
                height: 40px;
                margin: 0 auto;
                border-radius: 20px;
                border: 1px solid #999;
                display: flex;
                box-sizing: border-box;
                background-color: #444;
                overflow: hidden;
                .bar-left{
                    background-color: transparent;
                    width: 100%;
                    flex: 3;
                    select{
                        width: 100%;
                        height: 100%;
                        border: none;
                        padding-left: 10px;
                        outline: none;
                        font-size: 15px;
                        color: #fff;
                        background-color: #444;
                    }
                }
                .bar-center{
                    width: 100%;
                    flex: 8;
                    input{
                        width: 100%;
                        height: 100%;
                        padding: 0 0 0 10px;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-size: 14px;
                        background-color: transparent;
                    }
                }
                .bar-right{
                    background-color: transparent;
                    width: 100%;
                    flex: 2;
                    input{
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        background-color: @themeColor;
                        color: #FFF;
                        font-size: 13px;
                        cursor: pointer;
                        background-color: transparent;
                    }
                }
            }
        }
        .right{
            flex: 2;
            //background-color: pink;
            display: flex;
            justify-content: flex-end;
            .intro{
                width: fit-content;
                //height: 60px;
                //background-color: cyan;
                position: relative;
                &:hover .operation-pane{
                    display: block;
                }
                .user{
                    width: fit-content;
                    height: 32px;
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    .nick-name{
                        margin-right: 10px;
                        font-size: 16px;
                        color: #fff;
                    }
                    .header{
                        width: 32px;
                        height: 32px;
                        border-radius: 16px;
                    }
                }
                .operation-pane{
                    width: 160px;
                    //height: 300px;
                    border: 1px solid #eee;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 50px;
                    display: none;
                    box-shadow: 5px 6px 7px 1px grey;
                    //box-sizing: border-box;
                    z-index: 99;
                    &:after{
                        content: "";
                        border: 10px solid transparent;
                        border-bottom-color: #fff;
                        position: absolute;
                        right: 10px;
                        top: -20px;
                    }
                    .operation{
                        padding: 5px;
                        li{
                            line-height: 34px;
                            padding: 0 5px;
                            font-size: 12px;
                            color: #666;
                            a{
                                font-size: 12px;
                                color: #666;
                            }
                            &:first-child{
                                border-bottom: 1px solid #eaeaea;
                            }
                            &:last-child{
                                border-bottom: 1px solid #eaeaea;
                            }
                            &:hover{
                                background-color: #f3f4f6;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
.category-bar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    min-width: 1205px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 5px 0px;
    background:linear-gradient(rgb(247, 246, 248), rgb(255, 255, 255) 20%);
    .content{
        height: 100%;
        dl{
            display: flex;
            align-items: center;
            height: 100%;
            dd{
                line-height: 30px;
                margin-left: 15px;
                color: rgb(107, 101, 120);
                cursor: pointer;
                padding: 0 15px;
                border: 1px solid transparent;
                &:hover,
                &.selected{
                    border-color: @themeColor;
                    color: @themeColor;
                    border-radius: 15px;
                }
            }
            dt{
                color: rgb(148, 159, 171);
                font-size: 16px;
            }
        }
    }
}
.teacher-list{
    .teacher-item {
  //border: 1px solid tomato;
      margin-top: 20px;
      padding: 10px 15px;
      background-color: #fff;
      //box-sizing: border-box;
      .intro {
        height: 80px;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        .message {
          height: 100%;
          //background-color: grey;
          flex: 1;
          display: flex;
          align-items: center;
          .t-header {
            width: 60px;
            height: 60px;
            border: 1px solid @themeColor;
            box-sizing: border-box;
            border-radius: 30px;
          }
          .t-profile {
            flex: 1;
            height: 60px;
            //background-color: tomato;
            padding:10px 0 0 20px;
            .position-name {
              font-size: 18px;
              color: #424242;
              &.is-star::after {
                content: "星级讲师";
                font-size: 12px;
                color: #a5571b;
                background-color: #ffd2af;
                padding: 0 5px;
                border-radius: 3px;
              }
            }
            .class-count {
              font-size: 12px;
              color: #999;
              margin-top: 8px;
            }
          }
        }
        .to-detail {
          width: 98px;
          height: 34px;
          color: @themeColor;
          border: 1px solid @themeColor;
          border-radius: 5px;
          display: block;
          text-align: center;
          line-height: 34px;
        }
      }
      .desc {
        min-height: 80px;
        line-height: 35px;
        letter-spacing: 2px;
        text-shadow: 5px 5px 5px grey;
      }
    }
}
.footer{
    margin-top: 50px;
    height: 185px;
    background-color: #474443;
    .content{
        height: 100%;
        display: flex;
        align-items: center;
        .left{
            //background-color: darkcyan;
            flex: 2;
            height: 105px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .intro{
                font-size: 14px;
                color: #fff;
            }
            .ban{
                font-size: 14px;
                color: #999;
            }
            .friend-link{
                display: flex;
                li{
                    a{
                        color: #fff;
                        font-size: 14px;
                        &:hover{
                            color: @themeColor;
                        }
                    }
                    &:not(:first-child){
                        margin-left: 20px;
                    }
                }
            }
        }
        .right{
            //background-color: deeppink;
            flex: 1;
            height: 105px;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .ad-image{
                height: 46px;
                //background-color: darkcyan;
                display: flex;
                justify-content: flex-end;
                .left-pd,
                .right-pd{
                    width: 46px;
                    height: 46px;
                    cursor: pointer;
                    //background-color: red;
                    background-image: url(../../assets/images/layout_css_sprites2.png);
                }
                .left-pd{
                    background-position: -112px -74px;
                    &:hover{
                        background-position: -154px -174px;
                    }
                }
                .right-pd{
                    margin-left: 20px;
                    background-position: -220px -174px;
                    position: relative;
                    .ewm-pane{
                        width: 120px;
                        height: 120px;
                        box-shadow: 0 0 10px #ccc;
                        padding: 5px;
                        box-sizing: border-box;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -125px;
                        display: none;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &:hover{
                        background-position: -286px -174px;
                        .ewm-pane{
                            display: block;
                        }
                    }
                }
            }
            .second-line{
                font-size: 14px;
                color: #fff;
                .time{
                    font-size: 12px;
                    color: #ddd;
                    padding-left: 10px;
                }
            }
            .tel{
                font-size: 19px;
                color: #fff;
                font-weight: bold;
            }
        }
    }
}